<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <title>page not found</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- build:remove:html -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/menu.css">
    <!-- /build -->

    <!-- build:template
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23829460-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-23829460-1');
        </script>

        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '197466337857665');
        </script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=197466337857665&ev=PageView&noscript=1"/></noscript>

        <link href="/css/main.min.css?v=<%= version %>" rel="stylesheet" type="text/css">
    /build -->
</head>
<body class="error404">
<div class="spinner-preloader-wrap">
    <div class="cssload-container">
        <div class="cssload-whirlpool"></div>
    </div>
</div>

<div class="main-wrapper" data-top="992">
    <div class="header_top_bg  header_trans-fixed" style="padding-bottom: 0;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <header class="top-menu ">
                        <a href="/" class="logo">
                            <img src="/img/logo.png" alt="dilana.in" class="main-logo">
                            <img src="/img/logo.png" alt="dilana.in" class="logo-hover">
                            <img src="/img/logo.png" alt="dilana.in" class="main-logo logo-mobile">
                        </a>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid no-padd error-height">
        <div class="hero-inner bg-cover full-height">
            <img src="/img/bg.png" class="s-img-switch" alt="404 image"/>
            <div class="fullheight text-center">
                <div class="vertical-align">
                    <h1 class="bigtext">404</h1>
                    <h3 class="title bold font-1">something’s not right.</h3>
                    <h6 class="subtitle">we can’t find the page your are looking for. </h6>
                    <a href="/" class=" a-btn-4">back to homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:remove:html -->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/js/script.js"></script>
<!-- /build -->

<!-- build:template
        <script src="/js/app.min.js?v=<%= version %>" type="text/javascript"></script>
/build -->
</body>
</html>
